.side-bar{
    position: relative;
    width: 100%;
    float: none;
}

.main{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.artical-list {
    margin-right: 0;
}

/* 隐藏导航和标签栏 */
.side-bar .nav,
.side-bar .tag {
    display: none;
    text-align: center;
}

/* menu-checkbox被选中时显示导航和标签栏 */
#menu-checkbox:checked ~ .nav,
#menu-checkbox:checked ~ .tag {
    display: block;
}

/* 显示目录按钮 */
#menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;;
    font-size: 20px;
    font-weight: 200;
}