.side-bar{
    position: relative;
    width: 100%;
    float: none;
}

.main{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.article-list {
    margin-right: 0%;
}

.article-list .item2 {

    margin: 10px 10px 20px 5px;
    box-shadow: 5px 2px 6px #777777;

}

.article-list .item .title {
    margin: 10px 10px 0 20px;
}

.article-list .item .status {
    margin: 30px 0 0 30px;
}

.side-bar .nav,
.side-bar .tag {
    display: none;
    text-align: center;
}

#menu-checkbox:checked ~ .nav,
#menu-checkbox:checked ~ .tag {
    display: block;
}

#menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;;
    font-size: 20px;
    font-weight: 200;
}

.blog_article {
    margin-right: 0;
}

.blog_title {
    color: #454545;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 10px 0 0;
    padding-top: 0;
}
.blog_status {
    font-size: 15px; color: #777777;
    margin: 30px 0 0 10px;
    padding-bottom: 10px;
}